<?xml version="1.0"?>
<config>
    <modules>
        <Indiebytes_WhereAmIP>
            <version>0.1.0</version>
        </Indiebytes_WhereAmIP>
    </modules>
    <global>
        <blocks>
            <whereamip>
                <class>Indiebytes_WhereAmIP_Block</class>
            </whereamip>
        </blocks>
        <helpers>
            <whereamip>
                <class>Indiebytes_WhereAmIP_Helper</class>
            </whereamip>
        </helpers>
        <models>
            <whereamip>
                <class>Indiebytes_WhereAmIP_Model</class>
            </whereamip>
        </models>
        <events>
            <controller_front_init_before>
                <observers>
                    <indiebytes_whereamip_frontcontrollerobserver>
                        <type>singleton</type>
                        <class>whereamip/frontControllerObserver</class>
                        <method>getCountryCode</method>
                    </indiebytes_whereamip_frontcontrollerobserver>
                </observers>
            </controller_front_init_before>
        </events>
    </global>
    <frontend>
        <routers>
            <whereamip>
                <use>standard</use>
                <args>
                    <module>Indiebytes_WhereAmIP</module>
                    <frontName>change-country</frontName>
                </args>
            </whereamip>
        </routers>
        <layout>
            <updates>
                <whereamip>
                    <file>whereamip.xml</file>
                </whereamip>
            </updates>
        </layout>
        <translate>
            <modules>
                <whereamip>
                    <files>
                        <default>Indiebytes_WhereAmIP.csv</default>
                    </files>
                </whereamip>
            </modules>
        </translate>
    </frontend>
</config>
